@tailwind utilities;

@layer utilities {
    .registration-card {
        @apply bg-no-repeat bg-cover bg-[url("/assets/images/coffee-white.jpg")];
        background-position-x: -15rem;
        background-position-y: -23rem;
    }

    .inputBox {
        @apply relative w-64;
    }

    .inputBox input {
        @apply w-full p-1 border-b border-black rounded-sm outline-none;
    }

    .inputBox span {
        @apply absolute text-secondary left-0 pointer-events-none uppercase duration-500;
    }

    .inputBox input::placeholder {
        @apply text-white;
    }

    .inputBox input:focus ~ span,
    .inputBox input:not(:placeholder-shown) ~ span {
        @apply text-primary -translate-y-5 text-sm;
    }

    .chat-message-form {
        @apply w-full flex flex-row gap-2;
    }

    .chat-message-form input {
        @apply border-2 border-slate-400 w-full rounded-lg focus:outline-none focus:ring-1 focus:ring-opacity-50 px-3 caret-slate-600;
    }

    .chat-message-form input::placeholder {
        @apply text-sm text-slate-400;
    }

    .chat-message-form input:not(:placeholder-shown) {
        @apply text-slate-500 text-sm px-2;
    }
}
