@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* base imports */
@import "tailwindcss/base";

/* components imports */
@import "tailwindcss/components";
@import "components/flex";
@import "components/glass";

/* utilities imports */
@import "tailwindcss/utilities";
@import "utilities/layout";
@import "utilities/modal";
@import "utilities/registrationCard";
@import "utilities/chat";
