@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-start {
    @apply flex items-center justify-start;
}

.flex-between {
    @apply flex items-center justify-between;
}

.flex-end {
    @apply flex items-center justify-end;
}

.flex-center {
    @apply flex items-center justify-center;
}

.glass {
    backdrop-filter: blur(2px);
}
