@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    @apply w-screen min-h-screen bg-no-repeat text-white bg-primary;
    /* background-image: url("/assets/images/coffee.jpg"); */
    z-index: 1;
}

.navigation {
    @apply border-none px-10 py-3 w-screen h-20;
}

.content {
    @apply px-10 h-full;
}

.landing-header {
    @apply text-4xl font-extrabold sm:text-5xl text-center;
}

.initial-slide-left {
    @apply opacity-0 relative right-0 translate-y-1/2;
}

.initial-slide-right {
    @apply opacity-0 relative left-0 translate-y-1/2;
}

.initial-slide-up {
    @apply relative bottom-0 translate-y-1/2;
}

.height-65 {
    height: 65vh;
}
